body,
html {
    height: 100%;
    background-color: #fff;
    font-family: Nunito, sans-serif!important;
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

#app {
    height: 100%;
}

p {
    color: rgba(112, 112, 112, 1);
}

.navbar {
    position: relative;
    min-height: 82px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #e71a3d;
    border-color: #e71a3d;
}

.jarallax,
.inline-video-jarallax {
    position: relative;
    z-index: 1000;
    width: 100vw;
    max-height: 29vh;
    height: 29vh;
    overflow: hidden;
    background-color: #e71a3d;
}

.jarallax-img {
    width: 100%;
    height: 281px;
    object-fit: cover;
}

.jarallax .content,
.inline-video-jarallax .content {
    width: 100%;
    height: 100%;
    font-style: "Arial", Regular;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -18rem;
}

.jarallax .content .wrap,
.inline-video-jarallax .content .wrap {
    width: 38%;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
}

.jarallax .content .wrap h1,
.inline-video-jarallax .content .wrap h1 {
    font-size: 36px;
    color: #F5D734;
    display: block;
    background: rgba(31, 29, 29, 0.6) 0% 0% no-repeat padding-box;
    ;
    width: max-content;
    padding: 10px 15px;
    font-family: Nunito, sans-serif!important;
}

.content-container h1 {
    text-align: center;
    padding-top: 4%;
}

.ik-hr-white {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.ik-hr-white .hr-inner {
    width: 50px;
    border-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: auto;
}

.justify-middle {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

legend {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: bold;
    line-height: inherit;
    color: rgba(231, 27, 61, 1);
    border-bottom: none;
}

.block-spacing {
    padding-left: 0px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.choices {
    position: relative;
    margin-bottom: 24px;
    font-size: 16px;
}

.input-group-prepend .choices__inner {
    padding: 0;
    min-height: 43px;
}

.choices[data-type*=select-one] .choices__input {
    display: block;
    width: 100%;
    padding: 12.5px;
    /* border-bottom: 1px solid #ddd; */
    background-color: rgba(203, 197, 198, 0.15);
    margin: 0;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    font-size: 13px;
    padding-left: 20px;
}

select[disabled]>option {
    color: rgba(136, 136, 136, 1) !important;
}

.input-group>.form-control,
.input-group>.form-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}

.input-group-prepend .choices__inner select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}


/* For IE10 */

.input-group-prepend .choices__inner select::-ms-expand {
    display: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(203, 197, 198, 0.15);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 47px;
    margin-bottom: 33px;
}

.mobile-feild {
    border-left: none;
}

input::placeholder {
    color: rgba(136, 136, 136, 1) !important;
    font-size: 13px;
    padding-left: 7px;
}

.mobile-field::placeholder {
    padding-left: 10px;
}

.form-control.method_select {
    padding-left: 10px;
}

.form-control.method_select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.form-control.method_select:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

.btn.btn-overall {
    padding: 1% 4%;
    width: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    border-radius: 5rem;
    background: #e71a3d;
    border-color: #e71a3d;
    margin-top: 9%;
}

.btn.btn-over {
    width: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    border-radius: 5rem;
    background: #e71a3d;
    border-color: #e71a3d;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}

.btn-success.focus,
.btn-success:focus {
    color: #fff;
    background-color: #20895e;
    border-color: #20895e;
}

.btn.btn-overall.focus,
.btn.btn-overall:focus {
    border-color: rgba(112, 112, 112, 1);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: unset;
    outline-offset: -2px;
}

.add_button {
    margin-right: 40px;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width:767px) {
    .mobile-spacing {
        padding-left: 0px;
    }
    .navbar-header {
        float: left;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar-default .navbar-toggle {
        display: none;
    }
    .jarallax .content .wrap,
    .inline-video-jarallax .content .wrap {
        width: 89%;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        margin: 0 auto;
    }
    .jarallax .content .wrap h1,
    .inline-video-jarallax .content .wrap h1 {
        font-size: 36px;
        color: #F5D734;
        display: block;
        background: rgba(31, 29, 29, 0.6) 0% 0% no-repeat padding-box;
        width: unset;
        padding: 10px 15px;
    }
    .mobile_margin {
        margin-bottom: 10px !important;
    }
    .mobile_row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .btn.btn-over {
        margin-right: 20px;
    }
}

.fade {
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    outline: 0;
    top: 0;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 0;
    border-top: 4px solid #e71a3d;
}

.modal-dialog-centered {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}

.btn.submission-overall {
    padding: 1% 4%;
    width: auto;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0 5px;
    flex-grow: 1;
    border-radius: 5rem;
    background: #e71a3d;
    border-color: #e71a3d;
    margin-top: 3%;
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(200% - 3.5rem);
    }
}