body, html {
    height: 100%;
}
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}
#app {
    height: 100%;
}

.navbar {
    position: relative;
    min-height: 42px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #e71a3d;
    border-color: #e71a3d;
}
.content-header {
    padding: 10px .5rem;
    padding-bottom: 0px
}

.login-page, .register-page {
    -ms-flex-align: center;
    align-items: center;
    background: #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: unset;
}

.login-box{
    margin-top:2%;
}
.login-box {
    width: 460px;
}
.form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

[class*=sidebar-dark-] {
    background-color: #e71a3d;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ffffff;
    color: rgba(255,255,255,.8);
}
[class*=sidebar-dark-] .sidebar a {
    color: #ffffff;
}
.brand-link .brand-image {
    float: left;
    line-height: .8;
     margin-left: 0;
     margin-right: 0; 
     margin-top: 0; 
    max-height: 36px;
    width: auto;
}

.card {
    box-shadow: unset;
    margin-bottom: 1rem;
}
.login-card-body .input-group .form-control, .register-card-body .input-group .form-control {
    border-right: 1px solid #ccd0d2;
}

.no_premissions{
    width:100%;
    text-align:center;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
     width:100%;
     display: flex;
    justify-content: center;
    }
}

.dataTables_length{
    display: inline-block !important;
    padding: 1rem 1rem !important;
   
}

.dt-buttons{
    display: inline-block !important;
    padding: 1rem 1rem !important;
    
}